
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(https://goto.msk.ru/camps/img/summer1.jpg);
    background-size: 100%;
}
.aboba{
  color: #ffffff;
  font-size: 2vw;
  margin-left: 38vw;

}

._from, ._name, ._to, .u, .amount, .name_to, .gb, .but{
  display: inline-block;
  margin: 5px;
  margin-bottom: 0;
}

.but{
  margin: 0;
}

._name{
  color: #FFA31A;
}

.box input[type="text"],
.box input[type="password"] {
    height: 30px;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FFA31A;
    padding: 10px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    display: inline-block;
}

}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
}

.box input[type="text"]:focus, {
    width: 300px;
    padding: 200px;
    border-color: white;
    display: inline-block;
}

.box input[name="comment"], {
    width: 300px;
    height: ;
    padding: 10px 20px;
    border-color: white;
}

.box input[type="submit"] {
    padding: 10px;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffa31a;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #ffa31a;
}

.box{
  margin-top: 1vh;
  padding: 10px;
}

.Send{
  color: #808080;
  font-size: 4vh;
}
.error{
  color: #ffa31a;
}
.goto{
  color: #ffffff;
  display: inline-block;
  transition: 0.3s;
  font-size: 1.5vw;
}

.bank:hover{
  font-size: 1.7vw;

}

.name{
  color: white;
  font-size: 8vh;
  transition:  0.3s;
}

.bank{
  color: #1b1b1b;
  display: inline-block;
  border-radius: 8px;
  padding: 4px;
  background-color: #ffa31a;
  border-color: #ffa31a;
  transition:  0.3s;
  font-size: 1.5vw;
}

.bank:hover{
  font-size: 1.7vw;

}

.Box{
  position: absolute;
  background-color: #1b1b1b;
  width: 80vw;
  text-align: center; 
  height: 70vh;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.money{
  color: #FFA31A;
  font-size: 4vw;
}
.box-text{
   text-align: center; 
  height: 100%;
  width: 50%;
  display: inline-block;
}
.transactions{
  overflow-y: scroll;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
  text-align: center; 
  height: 85%;
  width: 40%;
  display: inline-block;
  float: right;
  background-color: #808080;
  border-radius: 25px;
}

.transaction{
  padding: 10px;
  background-color: #ffa31a;
  margin:  10px;
  border-radius: 10px;
  text-align: center;
}


.from, .to, .Gb, ._, .comment{
  color: white;
}

.from, .account_from, .to,
.account_to, .amount, .Gb, ._, .comment{
  display: inline-block;
  font-size: 1vw;
}

.comment{
  margin-left: 20px;
}

.account_from, .account_to, .amount{
  transition: 0.3s;
  font-size: 1.2vh;
  color: #292929;
  font-size: 1.5vh;
}

html, body{
  scrollbar-color: #458245 #714826; 

}


::-webkit-scrollbar-thumb { height: 50px; background-color: greenyellow; border-radius: 3px;}
